p{
    color: blue;
    background-color: rgb(201, 113, 6);
    border: brown;
    border-radius: 5px;
    padding: 5px;
}
h1{
    color: chartreuse;
    background-color: cyan;
}
h3{
color: rgb(10, 82, 85);
background-color: rgb(210, 218, 218);
}